.page.home{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
}
.home_element{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  max-width: 300px;
  text-align: center;
}
.home_register{
  max-width: 400px;
}
.home_element_switch{
  margin: 10px 0px;
  display: inline-block;
  -webkit-transition: color 400ms; /* Safari */
  -o-transition: color 400ms; /* Opera */
  transition: color 400ms;
}
.home_element_switch:hover{
  cursor: pointer;
  color: #FF903B;
}
